config/database.rb
config/apps.rb
config/boot.rb
*.komodoproject

.DS_Store
log/*.log
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
config/unicorn.conf.rb
config/workers.god
